.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    margin-top: 8%;
    margin-right: 25%;
    padding: 1em;
    max-width: 50ch;
    align-self: center;
    z-index: 3;
}

.delete-buttons{
    display: flex;
}

.delete-form{
    width: 50%;
}

.delete-form input[type="submit"]{
    margin-top: 10%;
    color: red;
}

.input-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-container button{
    height: 50%;
    align-self: flex-end;
}

.account-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.editable-account-info h3, .non-editable-account-info h3{
    font-size: 1.6rem;
}

.editable-account-info input, .non-editable-account-info p{
    font-size: 1.2rem;
}

/* CSS */
button {
  appearance: none;
  background-color: #FFF8DB;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gugi', cursive;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #FFE297;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

button:after {
  background-color: #FFE297;
}

button span {
  z-index: 1;
  position: relative;
}