header{
    height: 7vh;
    width: 100%;
    position: sticky;
    display: flex;
    background-color: #A0ADBF;
}

.menu-button-container{
    display: inline-block;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 2.5vh;
}

.bar1, .bar2, .bar3{
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

.app-name-header{
    align-self: center;
    margin-left: 250px;
    font-size: 2rem;
}

.app-name-header a{
    text-decoration: none;
    color: black;
    font-family: 'Gugi', cursive;
}

.search-bar{
    justify-self: end;
    align-self: center;
    margin-left: auto;
    margin-right: 2%;
}