.home-container{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eotd-container h1{
    text-align: center;
}

.eotd-video{
    width: 900px;
    height: 600px;
    outline: groove;
    background-color: black;
}