.home-container{
    outline: solid;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wotd-container h1{
    text-align: center;
}

.wotd-video{
    width: 900px;
    height: 600px;
    outline: solid;
    background-color: white;
}