.login-container{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    height: 70vh;
    width: 100%;
    align-items: center;
}

.login-input{
    margin-bottom: 3vh;
    color: white;
}

.password-icon{
    font-size: 1.2rem;
}