.sign-up-container{
    display: flex;
    margin-top: 10vh;
    height: 70vh;
    width: 100%;
    justify-content: center;
}

.sign-up-input{
    margin-bottom: 3vh;
    color: white;
}

.password-icon{
    font-size: 1.2rem;
}