.workout-exercise-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px 1fr));
    row-gap: 1em;
}

p.exercise-name{
    width: 200px
}

.exercise-row{
    display: flex;
    justify-content: space-between;
}

.modal-header{
    align-self: flex-start;
}

.exercise-modal{
    width: 90%;
    background-color: black;
}

.inner-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workout-view-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-container .middle .text{
    text-decoration: none;
}

.card-container .middle .text:hover{
    text-decoration: none;
    color: #FFF8DB;
}

.edit-workout-form{
    display: flex;
    flex-direction: column;
    width:300px;
    height: 100%;
    justify-content: space-between;
}

.profile-save-button{
    justify-self: flex-end;
}

.workout-edit-modal, .workout-delete-modal{
    background-color: #FFF8DB;
    height: 150px;
    border-radius: 20px;
    z-index: 10;
}

.edit-name{
    display: flex;
    flex-direction: column;
}

.delete-modal-buttons{
    display: flex;
    justify-content: space-between;
}

.workout-view-header img{
    height: 100px;
    width: 100px;
    border-radius: 9px;
}