.list-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-list-container{
    margin-top: 50px;
    display: grid;
    height: 70vh;
    width: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.card-container{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image{
    border: solid #E7E393;
    height: 150px;
    width: 150px;
    align-self: center;
}

.card-image:hover .card-image{
    opacity: 0.3;
}
  
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #410D03
}

.card-container a{
    text-decoration: none;
    color: #410D03;
}

.card-container p{
    height: 100px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.generate-workout #header{
    display: flex;
    justify-content: space-between;
}

.generate-workout #header p{
    align-self:flex-start;
    padding-left: 50px;
}