.list-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-list-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30%;
    row-gap: 3em;
}

.card-container{
    outline: solid;
}