.workout-exercise-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px 1fr));
    row-gap: 1em;
}

p.exercise-name{
    width: 200px
}

.exercise-row{
    display: flex;
    justify-content: space-between;
}

/* description: "This is a test description for this user's workout"
id: 1
name: "Workout1"
workout_mappers: Array(7)
0:
exercise: {id: 1, name: 'Dumbbell Bench Press', demo_url: 'https://www.youtube.com/embed/XMc1N3o-Qyw', description: 'This is a placeholder for the description', created_at: '2022-04-12T14:48:18.225Z', …}
reps: 10
sets: 3
weight: 25
[[Prototype]]: Object
1:
exercise: {id: 3, name: 'Bent Over Rows', demo_url: 'https://www.youtube.com/embed/pyBHPoC8Nzo', description: 'This is a placeholder for the description', created_at: '2022-04-12T14:48:18.228Z', …}
reps: 10
sets: 3
weight: 25
[[Prototype]]: Object
2: {exercise: {…}, reps: 10, sets: 3, weight: 25}
3: {exercise: {…}, reps: 10, sets: 3, weight: 25}
4: {exercise: {…}, reps: 10, sets: 3, weight: 25}
5: {exercise: {…}, reps: 10, sets: 3, weight: 25}
6: {exercise: {…}, re */