.workout-exercise-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px 1fr));
    row-gap: 1em;
}

p.exercise-name{
    width: 200px
}

.exercise-row{
    display: flex;
    justify-content: space-between;
}

.modal-header{
    align-self: flex-start;
}

.exercise-modal{
    width: 90%;
    background-color: black;
}

.inner-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selected-workout-header{
    text-align: center;
}

.workout-back-button{
    margin-top: 100px;
    text-decoration: none;
    border: solid;
    padding: 5px;
    border-radius: 20px;
}